* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#mainheadfilter {
  margin-left: 5px;
}
#filteroptionsContainer {
  padding: 5px;
  font-size: 0.85em;
}
#filteroptionsContainer span {
  margin: 5px;
}
.filter {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  white-space: nowrap;
}
.filter ul {
  display: flex;
  justify-content: flex-start;
}
.filter ul li {
  margin: 5px;
  border: 2px solid rgb(235, 196, 3);
  padding: 6px 10px;
  border-radius: 5px;
  list-style: none;
  cursor: pointer;
}
#filterButtonContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-evenly;
  width: 100%;
}
#filterResetbtn {
  width: 150px;
  height: 38px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border: 2px solid rgb(217, 181, 1);
  background-color: rgb(217, 181, 1);
  color: rgb(255, 255, 255);
  transition: all 0.1s;
}
#filterApplybtn {
  width: 150px;
  height: 38px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgb(217, 181, 1);
  border: 2px solid rgb(217, 181, 1);
  color: rgb(255, 255, 255);
  transition: all 0.1s;
}
#filterResetbtn:active{
  color: rgb(217, 181, 1);
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
}

#filterApplybtn:active {
  background-color: white;
  color: rgb(235, 196, 3);
  transform: scale(1.1);
}
.selectedfilterli {
  background-color: rgb(235, 196, 3);
  color: white;
}
