#mainMorningTimecontainer{
    display: flex;
    flex-direction: column;
    padding: 8px;
}
#mainMorningTimecontainer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#mainMorningTimecontainer ul li{
    list-style: none;
    border: 1.4px solid rgba(128, 128, 128, 0.672);
    padding: 8px;
    font-size: 0.7em;
    border-radius: 4px;
    cursor: pointer;
    width: 70px;
    margin: 10px;
}

#mainAfternoonTimecontainer{
    display: flex;
    flex-direction: column;
    padding: 8px;
}

#mainAfternoonTimecontainer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#mainAfternoonTimecontainer ul li{
    list-style: none;
    border: 1.4px solid rgba(128, 128, 128, 0.672);
    padding: 8px;
    font-size: 0.7em;
    width: 70px;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
}
#mainEveningTimecontainer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#mainEveningTimecontainer ul li{
    list-style: none;
    border: 1.4px solid rgba(128, 128, 128, 0.672);
    padding: 8px;
    font-size: 0.7em;
    width: 70px;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
}


.noSlottxt{
    /* background-color: red; */
  width: 50vw;
}
#selected{
    background-color: rgba(245, 48, 48, 0.857);
    color: white;
    border: none;
}