#card3Container {
  height: 86vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
#card3ImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
#card3ImgContainer img {
  width: 350px;
}
#card3Contentcontainer {
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#card3Contentcontainer {
  font-size: 1.4em;
  line-height: 50px;
}

#card3Contentcontainer button {
  margin-top: 20px;
  width: 320px;
  height: 45px;
  border-radius: 8px;
  border: none;
  background-color: rgb(217, 181, 1);
  box-shadow: 2px 2px rgb(15, 15, 15);
  border: 2px solid rgb(217, 181, 1);
  color: white;
}

#card3Contentcontainer button:active {
  background-color: white;
  color: rgb(217, 181, 1);
  box-shadow: none;
}



@media screen and (max-width: 365px){
   
  #card3ImgContainer img {
    width: 290px;
  }

  #card3Contentcontainer button {
    width: 290px;
    height: 40px; 
  }
  #card3Contentcontainer{
    font-size: 1.2rem;
  }

}