* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#HomcardContainer {
  display: flex;
  margin: 18px;
  height: 105px;
  border-radius: 5px;
  position: relative;
  background-color: rgb(255, 255, 255);
      
      box-shadow:  5px 5px 5px #e6e6e698,
      5px 5px 5px #fefefee5;
}
#HomcardContainer:hover {
  transition: all 0.6s;
  transform: scale(1.05);
}
#HomeBackimgContainer {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  width: 25%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#HomeBackimgContainer img {
  width: 75px;
  height: 75px;
  border-radius: 10px;
}
#cardContentContainer {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  justify-content: space-between;
  flex-direction: column;
  /* background-color: red; */
}
#cardContentContainer h2 {
  width: 90%;
  font-size: 0.97em;
  margin: 0px;
}
#cardContentContainer h4 {
  font-size: 0.7em;
  font-weight: 200;
  opacity: 80%;
}
#bookmarkicon {
  position: absolute;
  right: 10px;
  top: 10px;
}
#numberResultsContainer {
  display: flex;
  width: 90%;
  justify-content: space-between;
  font-size: 0.8em;
  margin-top: 4px;
  /* background-color: red; */
}
#numberResultsContainer div span {
  margin-left: 2px;
}

@media screen and (max-width: 400px) {
  #cardContentContainer h2 {
    font-size: 0.90em;
    width: 90%;
  }
  #cardContentContainer h4 {
    font-size: 0.67em;
  }
  #HomeBackimgContainer img {
    width: 72px;
    height: 72px;
    border-radius: 10px;
  }
  #HomcardContainer{
    height: 102px;
  }
  
}


@media screen and (max-width: 370px){
  
  #cardContentContainer h2 {
    font-size: 0.87em;
    width: 90%;
  }
  #cardContentContainer h4 {
    font-size: 0.6em;
  }
  #HomeBackimgContainer img {
    width: 68px;
    height: 68px;
    border-radius: 10px;
    margin-right: -8px;
  }
  #HomcardContainer{
    height: 100px;
  }
  #numberResultsContainer{
    font-size: 0.7em;
  }
  
}

@media screen and (max-width: 350px){
  
  #cardContentContainer h2 {
    font-size: 0.80em;
    width: 90%;
  }
  #cardContentContainer h4 {
    font-size: 0.580em;
  }
  #HomeBackimgContainer img {
    width: 68px;
    height: 68px;
    border-radius: 10px;
    margin-right: -8px;
  }
  #HomcardContainer{
    height: 95px;
  }
  #numberResultsContainer{
    font-size: 0.7em;
  }
}
