@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}
#card1Container {
  height: 86vh;
}
#card1ImgContainer {
  height: 100%;
  width: 100vw;
  background-image: url('./../../../Images/Image.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#card1contentContainer {
  position: absolute;
  bottom: 20px;
  color: white;
  width: 100%;
  padding: 20px;
}
#card1contentContainer h1,
h2,
p {
  margin: 10px;
}
#card1contentContainerh2 {
  font-size: 2.2em;
}
#card1contentContainer h1 {
  font-size: 2.6em;
  color: rgb(235, 235, 6);
}
#card1contentContainer p {
  font-size: 0.9em;
}
